<html>
    <head>
        <title>Results</title>
        <meta name="viewport",content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    </head>
    <body>
            <h1>Connectify-<span>Your own social media platform</span></h1>
            <h2>Search results for <%=query%></h2>
        <%for(var i=0;i<result.length;i++){%>
          <div id="result-div">
            <div id="result-div-img"> 
            <img src="/uploads/<%=result[i].username%>/<%=result[i].profile_pic%>">
            </div>
            <div id="result-div-anchor">    
            <a href="/viewprofile/<%=result[i].username%>"><%=result[i].fname+" "+result[i].lname%></a>
            </div> 
          </div> 
         <%}%>   
    </body>
</html>