<html>
    <head>
        <title>Show photos</title>
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    </head>
    <body>
        <h1>Connectify-<span>Your own social media platform</span></h1>
        <h2>Your photos</h2>
        <a href="/addphoto/<%=user%>" class="post-action">Add a photo</a>
       <div id="photos-div"> 
        <%for(var i=0;i<result.length;i++){%>
           <a href="/viewphoto/<%=user%>/<%=result[i].photo_name%>"><img src="/uploads/<%=user%>/<%=result[i].photo_name%>"></a>
        <%}%>
       </div>     
    </body>
</html>